{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUNCH</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-WwPAdFFnT9FvTPbkG/HTPT97jAcTY84f7QszA1XvCRZLOq4yyI8q46W4/8T+mCq+Cl8ekJbMhY5GDBJfUJ47wA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <style>
        #scanResults {
            white-space: pre-wrap; /* Preserve whitespace but allow wrapping */
            max-height: 400px; /* Set a max height for the container */
            overflow-y: auto; /* Add vertical scroll bar if content exceeds max height */
        }
        .alert-info {
            background-color: white;
            font-weight: bolder;
        }
        .navbar-brand {
            width: 100%;
            text-align: center;
            font-size: 30px;
        }
        label {
            color: #40cc45;
        }
        #progressBar{
            background: #3cd541;
        }
        .card-body{
            box-shadow: none !important;
        }
        @media (max-width: 768px) {
            .nav-tabs {
                font-size: 14px;
            }
            .card-body {
                padding: 10px;
            }
        }
    </style>
</head>
<html>
<body>
    
    <div class="container mt-5">
        <div  class='mt-3' id="error"></div>
        <h1 class="navbar-brand"><i class="bx bx-lock"></i> CRUNCH</h1>
        <br>
        <br>
        <div class="mt-3">
            <div class="progress" style="display: none;" id="progressBarContainer">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" id="progressBar"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#result" role="tab" aria-selected="true">Results</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active show" id="result" role="tabpanel">
                            <div class="card-body">
                                <div class="profiletimeline">
                                    <div class="sl-item">
                                        <div class="sl-right">
                                            <div>
                                                <div class="container-fluid">
                                                    {% if hash_files %}
                                                    <table class="table table-bordered mt-3">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Download</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for file in hash_files %}
                                                                <tr>
                                                                    <td>{{ file.name }}</td>
                                                                    <td>
                                                                        <a href="{{ file.download_url }}" class="btn btn-primary btn-sm" download>Download</a>
                                                                        
                                                                    </td>
                                                                    <td>
                                                                        <form action="{% url 'delete_file' file.name '2' %}" method="POST">
                                                                            {% csrf_token %}
                                                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <p class="text-center text-muted">No dictionary files available.</p>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!--second tab-->
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                <div class="row pl-3">
                                    <div class="col-lg-12 pl-1 mb-3">
                                        <label for="fileName"><i class="bx bx-table"></i>File Name</label>
                                        <input type="text" id="fileName" class="form-control" placeholder="Enter  File Name" value="">
                                    </div>
                                    <div class="col-lg-12 pl-1 mb-3">
                                        <label for="appendedLatters"><i class="bx bx-table"></i>Enter  Latters </label>
                                        <input type="text" id="noWords" class="form-control"  placeholder="Enter  Words + Numbers + Symbols" value="">
                                    </div>
                                    <div class="col-lg-12 pl-1 mb-3">
                                        <label for="minRange"><i class="bx bx-table"></i>Min Range</label>
                                        <input type="number" id="minRange" class="form-control" min="1" max="65535" placeholder="Enter  min length" value="">
                                    </div>
                                    
                                    <div class="col-lg-12 pl-1 mb-3">
                                        <label for="maxRange"><i class="bx bx-table"></i>Max Range</label>
                                        <input type="number" id="maxRange" class="form-control" min="1" max="65535" placeholder="Enter  max length" value="">
                                    </div>
                                </div>
                                <br>
                                <div class="col-lg-6 pl-1 ">
                                    <button id="scanBtn" class="btn btn-primary"><i class="bx bx-search-alt-2 "></i> Create Worldist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<a style="background-color: rgb(87, 228, 10); padding: 12px 12px; border-radius: 100%; text-align: center; position: absolute; right: 4%; top: 90%; box-shadow: 0 8px 32px 0 rgba(101, 101, 101, 0.37); color: aliceblue;" href="{% url 'home' %}"><i class="bx bx-home" aria-hidden="true"></i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
        $(document).ready(function() {
            
            $('#scanBtn').click(function() {
                const fileName        = $('#fileName').val();
                const appendedLatters = $('#noWords').val();
                const minRange        = parseInt($('#minRange').val(), 10);
                const maxRange        = parseInt($('#maxRange').val(), 10);
            
                if (!appendedLatters || isNaN(minRange) || isNaN(maxRange) || minRange < 1 || maxRange < minRange) {
                    $('#error').html('<div class="alert alert-danger">Please fill all fields correctly.</div>');
                    return;
                }
            
                $('#progressBarContainer').show();
                $('#progressBar').css('width', '0%');
            
                let progress = 0;
                const interval = setInterval(() => {
                    progress += 10;
                    $('#progressBar').css('width', `${progress}%`);
                    if (progress >= 100) clearInterval(interval);
                }, 500);
            
                $.ajax({
                    url: '/run_crunch_view/',
                    type: 'POST',
                    data: {
                        fileName            : fileName,
                        appendedLatters     : appendedLatters,
                        minRange            : minRange,
                        maxRange            : maxRange,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: (response) => {
                        clearInterval(interval);
                        $('#progressBarContainer').hide();
                        if (response.data) {
                            $('#scanResults').html(formatResults(response.data)).addClass('alert alert-info');
                        } else {
                            $('#scanResults').html('No data available').addClass('alert alert-warning');
                        }
                    },
                    error: (xhr) => {
                        clearInterval(interval);
                        $('#progressBarContainer').hide();
                        $('#scanResults').html(`Error: ${xhr.statusText}`).addClass('alert alert-danger');
                    }
                });
            });

            function formatResults(data) {
                return data.replace(/\[(.*?)\]/g, function(match, p1) {
                    switch (p1.trim()) {
                        case 'YouTube':
                            return "  <i class='bx bxl-youtube youtube-icon'></i> YouTube"
                        case 'GoAhead-Webs':
                            return '<i class="bx bx-server" style="color:red; "></i> GoAhead-Webs';
                        case 'HttpOnly':
                            return '  <i class="bx bx-lock" style="color:#ff6347"></i> HttpOnly';
                        case 'X-UA-Compatible':
                            return "<i class='bx bx-cog compatibility-icon'></i> X-UA-Compatible"
                        case 'X-XSS-Protection':
                            return "  <i class='bx bx-shield security-icon'></i> X-XSS-Protection";
                        case 'Strict-Transport-Security':
                            return "<i class='bx bx-shield' style='color: #1a73e8; font-size: 24px;'></i> Strict-Transport-Security";
                        case 'Cookies':
                            return '  <i class="bx bx-cookie" style="color:#ff6347;"></i> Cookies';
                        case 'Bootstrap':
                            return '<i class="bx bxl-bootstrap" style="color:purple; "></i> Bootstrap';
                        case 'HTML5':
                            return '<i class="bx bxl-html5" style="color:orange; "></i> HTML5';
                        case 'HTTPServer':
                            return '<i class="bx bx-server" style="color:red; "></i> HTTPServer';
                        case 'JQuery':
                            return '<i class="bx bxl-jquery" style="color:blue; "></i> JQuery';
                        case 'Script':
                            return '<i class="bx bx-code-block" style="color:skyblue; "></i> Script';
                        case 'UncommonHeaders':
                            return '<i class="bx bx-header" style="color:green; "></i> UncommonHeaders';
                        case 'X-Frame-Options':
                            return '<i class="bx bx-frame" ></i> X-Frame-Options';
                        case 'PHP':
                            return '<i class="bx bxl-php" style="font-size:20px" ></i> PHP';
                        case 'PasswordField':
                            return '<i class="bx bx-shield-alt" style="font-size:20px" ></i> PasswordField';
                        case 'X-Powered-By':
                            return '<i class="bx bxs-chip" style="font-size:20px" ></i>  X-Powered-By';
                        case 'Apache':
                            return '<i class="fab fa-apache"></i> Apache';
                        case 'Nginx':
                            return '<i class="fab fa-nginx"></i> Nginx';
                        case 'nginx':
                            return '<i class="fab fa-nginx"></i> Nginx';
                        case 'Microsoft IIS':
                            return '<i class="fab fa-windows"></i> Microsoft IIS';
                        case 'LiteSpeed':
                            return '<i class="fas fa-rocket"></i> LiteSpeed';
                        case 'WordPress':
                            return '<i class="fab fa-wordpress"></i> WordPress';
                        case 'Joomla':
                            return '<i class="fab fa-joomla"></i> Joomla';
                        case 'Drupal':
                            return '<i class="fab fa-drupal"></i> Drupal';
                        case 'Magento':
                            return '<i class="fab fa-magento"></i> Magento';
                        case 'PHP':
                            return '<i class="fab fa-php"></i> PHP';
                        case 'Python':
                            return '<i class="fab fa-python"></i> Python';
                        case 'Ruby':
                            return '<i class="fas fa-gem"></i> Ruby';
                        case 'Java':
                            return '<i class="fab fa-java"></i> Java';
                        case 'Angular':
                            return '<i class="fab fa-angular"></i> Angular';
                        case 'React':
                            return '<i class="fab fa-react"></i> React';
                        case 'Vue.js':
                            return '<i class="fab fa-vuejs"></i> Vue.js';
                        case 'MySQL':
                            return '<i class="fas fa-database"></i> MySQL';
                        case 'PostgreSQL':
                            return '<i class="fas fa-database"></i> PostgreSQL';
                        case 'MongoDB':
                            return '<i class="fas fa-leaf"></i> PostgreSQL';
                        case 'Google-Analytics':
                            return '<i class="fas fa-chart-bar"></i> Google-Analytics';
                        case 'Piwik':
                            return '<i class="fas fa-chart-line"></i> Piwik';
                        case 'Shopify':
                            return '<i class="fas fa-shopping-cart"></i> Shopify';
                        case 'WooCommerce':
                            return '<i class="fas fa-shopping-cart"></i> WooCommerce';
                        case 'SSL/TLS':
                            return '<i class="fas fa-lock"></i> SSL/TLS';
                        case 'Cloudflare':
                            return '<i class="fab fa-cloudflare"></i> Cloudflare';
                        case 'Docker':
                            return '<i class="fab fa-docker"></i> Docker';
                        case 'Kubernates':
                            return '<i class="fab fa-kubernetes"></i> Kubernetes';
                        case 'Redis':
                            return '<i class="fas fa-memory"></i> Redis';
                        default:
                            return match;
                    }
                });
            }
        });
    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    </body>
</html>

